:root {
    --x-white: #fafcff;
    --white: #fff;

    --primary: #089F80;


    /* shadow */
    --shade-sm: 0px 0px 12px #262c382a;
}

/* tokes */
:root {
    /* color */
    --body: var(--x-white);
    --content: var(--white);
    --card: var(--white);
    --header-bg-light: var(--white);

    --accent: var(--primary);

    /* shadow */
    --shade-header: var(--shade-sm)
}



/* min-max */
@media screen and (max-width: 1096px) {
    .user-name {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .icon {
        display: block;
    }

    .header {
        padding: 4px 12px;
    }


    .nav-contents {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .logo-txt {
            display: none;
        }
}