:root {
    --x-white: #fafcff;
    --white: #fff;

    --primary: #089F80;


    /* shadow */
    --shade-sm: 0px 0px 12px #262c382a;
    --shade-sm-wide: 0px 20px 30px -2px #262c3811;
    --shade-input-hover: 0px 0px 40px 0px #262c381a;
}

/* tokes */
:root {
    /* color */
    --body: var(--x-white);
    --content: var(--white);
    --card: var(--white);
    --header-bg-light: var(--white);

    --accent: var(--primary);
    --active: var(--primary);

    /* shadow */
    --shade-header: var(--shade-sm);
    --shade-wide-box: var(--shade-sm-wide);
}


